* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  background-color: green;
}
h1 {
  text-align: center;
  color:aliceblue;
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 500px;
  margin: 0 auto;
  color: #ec76b5

}
label {
  margin-bottom: 5px;
}
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 100px;
  
}
button {
  padding: 10px;
  font-size: 1.1rem;
  background-color: #0b5ed7;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

label {
  display: flex;
  flex-direction: row-reverse; /* inverte a ordem: input vem antes do texto */
  align-items: center;
  gap: 0.1rem; /* espaço entre botão e texto */
}
