body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(3, 85, 3);
  padding: 20px;
  line-height: 1.6px;
}

 p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;
  color: #ec76b5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  text-align: left;
  margin-top: 40px;
   line-height: 1.6;
}

h1{
color:white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4{
    color:#ec76b5;
    font-size: 36px;   
}
span{
    color: aliceblue;
    font-size: 50px;
    margin: 40px;
    line-height: 40px;
}
